* {
    font-family: arial;
}

.buy {
    background-color: rgb(38, 111, 219);
    height: 35px;
    width: 60px;
    border-radius: 300px;
    border: none;
    color: white;

}

.charge {
    font-weight: 500;
    font-size: 20px;
    font-weight:bolder;

}